body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.product-card img {
    max-width: 100px; /* Tamaño máximo para las imágenes de las frutas */
    height: auto;
    display: block;
    margin: 10px 0;
}